<!-- Title grid-->
<mat-grid-list cols="12" rowHeight="30px">
     <mat-grid-tile [colspan]="12" [rowspan]="2">
          <h1>{{ title }}</h1>
     </mat-grid-tile>

     <mat-grid-tile [colspan]="10"></mat-grid-tile>

     <mat-grid-tile [colspan]="1" [rowspan]="2">
          <button id="updateButton" *ngIf="!isLoading && !isBeingEdited && isEpisodesLoaded" mat-raised-button color="primary" (click)="updateButtonClicked()">Update</button>
     </mat-grid-tile>
</mat-grid-list>

<!-- Loading grid -->
<mat-grid-list *ngIf="isLoading" cols="4" rowHeight="150px">
     <mat-grid-tile  [colspan]=4 [rowspan]=2>
          <div class="app-loading">
               <span class="loading">Loading...</span>
               <div class="logo"></div>
                                             
               <svg class="spinner" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
               </svg>
          </div>
     </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="!showIMDB && !isLoading && isEpisodesLoaded" cols="12" rowHeight="50px">
     <mat-grid-tile [colspan]="4">
          <mat-checkbox *ngIf="!isBeingEdited" [(ngModel)]="isFavoritesChecked" id="chkFavorites" class="left-align-forced" (change)="chkFavoritesClick()">Favorites</mat-checkbox>
     </mat-grid-tile>

     <mat-grid-tile [colspan]="4">
          <mat-checkbox *ngIf="!isBeingEdited" [(ngModel)]="descriptionVisible" id="chkShowDescription" class="left-align-forced" (change)="chkShowhideDescription()">Description</mat-checkbox>
     </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="!isLoading"cols="12" rowHeight="75px">     
     <mat-grid-tile id="episodeFilter" [colspan]="1" *ngIf="!showIMDB">
          <mat-form-field *ngIf="!isBeingEdited && !isFavoritesChecked && isEpisodesLoaded" class="left-align-forced">
               <input matInput (keyup)="applyEpisodeFilter($event.target.value)" placeholder="Filter">     
          </mat-form-field>
     </mat-grid-tile>

     <mat-grid-tile [colspan]="5" *ngIf="!showIMDB">
          <mat-paginator *ngIf="!isLoading && isEpisodesLoaded && !isBeingEdited" #episodePaginator id="episodePaginator" [pageSize]="100" [pageSizeOptions]="[25,50,100,200,500,1000,5000,10000]" showFirstLastButtons></mat-paginator>               
     </mat-grid-tile>

     <mat-grid-tile id="IMDBFilter" [colspan]="1" *ngIf="showIMDB">
          <mat-form-field *ngIf="!isLoading && !isBeingEdited && !isFavoritesChecked && isIMDBLoaded" class="left-align-forced">
               <input matInput (keyup)="applyIMDBFilter($event.target.value)" placeholder="Filter">     
          </mat-form-field>
     </mat-grid-tile>

     <mat-grid-tile [colspan]="5" *ngIf="showIMDB">
          <mat-paginator *ngIf="showIMDB && !isLoading && !isBeingEdited && isIMDBLoaded" #imdbPaginator id="imdbPaginator" [pageSize]="100" [pageSizeOptions]="[25,50,100,200,500,1000,5000,10000]" showFirstLastButtons></mat-paginator>
     </mat-grid-tile>

     <mat-grid-tile [colspan]="2" *ngIf="!isLoading">
          <mat-checkbox *ngIf="!isBeingEdited" [(ngModel)]="showIMDB" class="left-align-forced" (change)="showIMDBClick()">{{!showIMDB ? "Show IMDB" : "Show Episodes"}}</mat-checkbox>
     </mat-grid-tile>
</mat-grid-list>

<!-- Episode & IMDB table grid -->
<mat-grid-list *ngIf="!isLoading" id="table-grid" cols="12" rowHeight="1:2.25">
     <mat-grid-tile [colspan]="12" id="episodeTableGrid" *ngIf="!showIMDB">
          <table id="episodeTable" *ngIf="!isLoading && isEpisodesLoaded && (!isBeingEdited || (isBeingEdited && editingItem === 'Episodes'))" mat-table [dataSource]="episodesDataSource" class="mat-elevation-z8">
               <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
     
                    <td mat-cell *matCellDef="let element">
                         <mat-icon *ngIf="editingAllowed && !isBeingEdited" (click)="editEpisodesIMDBNamesClick('Episodes',element.EpisodeNum)">edit</mat-icon>
                         <mat-icon *ngIf="isBeingEdited && editingItem === 'Episodes' && element.EpisodeID == editingID" (click)="editEpisodesIMDBNamesClick('Episodes',element.EpisodeNum)">save</mat-icon>
                         <mat-icon *ngIf="isBeingEdited && editingItem === 'Episodes' && element.EpisodeID == editingID" (click)="editEpisodesIMDBNamesClick('Episodes',element.EpisodeNum,true)">cancel</mat-icon>
                    </td>
               </ng-container>
     
               <ng-container matColumnDef="Episode" class="episode">
                    <th mat-header-cell *matHeaderCellDef> Ep </th>
     
                    <td mat-cell *matCellDef="let element">
                         <div *ngIf="(!isBeingEdited || (isBeingEdited && editingItem === 'Episodes' && element.EpisodeID == editingID)) && element['DownloadLink'] === null">
                              {{ element.EpisodeNum }}
                         </div>
     
                         <div *ngIf="(!isBeingEdited || (isBeingEdited && editingItem === 'Episodes' && element.EpisodeID == editingID)) && element['DownloadLink'] !== null">
                              <a [href]="element.DownloadLink" target='_blank'>{{ element.EpisodeNum }} </a>
                         </div>
                    </td>
               </ng-container>
     
               <ng-container ng-class="nameColumn"  matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
               
                    <td mat-cell *matCellDef="let element">
                         <div *ngIf="!element.IMDBLink && !isBeingEdited">    
                              {{element.Name}}
                         </div>
                         
                         <div *ngIf="element.IMDBLink && !isBeingEdited">
                              <div [innerHtml]="element.IMDBLink"></div>
                         </div>
                         
                         <mat-form-field *ngIf="isBeingEdited && editingItem === 'Episodes' && element.EpisodeID == editingID">
                              <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" matInput name="name" type="text" value="{{element.Name}}" [(ngModel)]="element.Name">
                              </textarea>
                         </mat-form-field>
                    </td>
               </ng-container>
      
               <ng-container class="descriptionColumn" *ngIf="descriptionVisible" matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element">
                         <div *ngIf="!isBeingEdited">    
                              {{element.Description}}
                         </div>
     
                         <mat-form-field *ngIf="isBeingEdited && editingItem === 'Episodes' && element.EpisodeID == editingID">
                              <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"matInput name="Description" type="text" value="{{element.Description}}" [(ngModel)]="element.Description">
                              </textarea>
                         </mat-form-field>
                    </td>
               </ng-container>
                   
               <ng-container matColumnDef="ReleaseDate">
                    <th mat-header-cell *matHeaderCellDef class="releaseDate"> Release Date </th>
                    <td mat-cell *matCellDef="let element">
                         <div *ngIf="!isBeingEdited">    
                              {{element.ReleaseDate}}
                         </div>
                    
                         <mat-form-field *ngIf="isBeingEdited && editingItem === 'Episodes' && element.EpisodeID == editingID">
                              <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"matInput name="Release Date" type="text" value="{{element.ReleaseDate}}" [(ngModel)]="element.ReleaseDate">
                              </textarea>
                         </mat-form-field>
                    </td>
               </ng-container>
     
               <ng-container matColumnDef="Favorite">  
                    <th mat-header-cell *matHeaderCellDef> Favorite </th>
                    <td mat-cell *matCellDef="let element">
                         <img *ngIf="!isBeingEdited" [src]="getFavoriteImage(element.Favorite)" id="{{element.EpisodeNum}}" alt="Favorite icon" style="width:24px;height:24px" (change)="episodeFavoriteClick($event)" />
                    </td>
               </ng-container>
     
               <ng-container matColumnDef="Check In/Out">
                    <th mat-header-cell *matHeaderCellDef> Check In/Out </th>
                    <td mat-cell *matCellDef="let element">
                         <button id="checkoutButton" *ngIf="!isBeingEdited" mat-raised-button color="primary" (click)="checkInOutFileClick(element.EpisodeNum)">
                              {{ getButtonText(element) }}
                         </button>
                    </td>
               </ng-container>
     
               <ng-container matColumnDef="isModified">
                    <th mat-header-cell *matHeaderCellDef> IsModified </th>
                    <td mat-cell *matCellDef="let element">
                         <mat-checkbox disabled checked="{{element.IsModified}}"></mat-checkbox>
                    </td>
               </ng-container>
                  
               <tr mat-header-row *matHeaderRowDef="episodeDisplayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: episodeDisplayedColumns;"></tr>
          </table>
     </mat-grid-tile>

     <mat-grid-tile [colspan]="6" id="imdbTableGrid" *ngIf="showIMDB">
          <table id="imdbTable" *ngIf="!isLoading && isIMDBLoaded && (!isBeingEdited || (isBeingEdited && editingItem === 'IMDB'))" mat-table [dataSource]="imdbDataSource" class="mat-elevation-z8">
               <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                         <mat-icon *ngIf="editingAllowed && !isBeingEdited" (click)="editEpisodesIMDBNamesClick('IMDB',element.IMDBID)">edit</mat-icon>
                         <mat-icon *ngIf="isBeingEdited && editingItem === 'IMDB' && element.IMDBID == editingID" (click)="editEpisodesIMDBNamesClick('IMDB',element.IMDBID)">save</mat-icon>
                         <mat-icon *ngIf="isBeingEdited && editingItem === 'IMDB' && element.IMDBID == editingID" (click)="editEpisodesIMDBNamesClick('IMDB',element.IMDBID,true)">cancel</mat-icon>
                    </td>
               </ng-container>
     
               <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> 
                         <div *ngIf="(!isBeingEdited || (isBeingEdited && editingItem === 'IMDB' && element.IMDBID == editingID))">{{element.IMDBID}}</div>
                    </td>
               </ng-container>
                                       
               <ng-container class="imdbInputField" matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element">
                         <div *ngIf="!isBeingEdited">
                              <a href="{{element.IMDBURL}}" *ngIf="element.IMDBID !== null" target="_blank">{{element.Name}}</a>
                              <div *ngIf="element.IMDBID === null">{{element.Name}}</div>                              
                         </div>
                                        
                         <mat-form-field *ngIf="isBeingEdited && editingItem === 'IMDB' && element.IMDBID == editingID">
                              <input matInput name="name" placeholder="Name" type="text" value="{{element.Name}}" [(ngModel)]="element.Name" (change)="IMDBItemUpdated(element.IMDBID)">
                         </mat-form-field>
                    </td>
               </ng-container>
     
               <ng-container class="imdbInputField" matColumnDef="IMDBURL">
                    <th mat-header-cell *matHeaderCellDef> IMDB URL </th>
                         <td mat-cell *matCellDef="let element">
                              <div *ngIf="!isBeingEdited">    
                                   {{element.IMDBURL}}
                              </div>
                                        
                         <mat-form-field *ngIf="isBeingEdited && editingItem === 'IMDB' && element.IMDBID == editingID">
                              <input matInput name="IMDBURL" placeholder="IMDB_URL" type="text" value="{{element.IMDBURL}}" [(ngModel)]="element.IMDBURL" (change)="IMDBItemUpdated(element.IMDBID)">
                         </mat-form-field>
                    </td>
               </ng-container>
                                   
               <tr mat-header-row *matHeaderRowDef="imdbDisplayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: imdbDisplayedColumns;"></tr>
          </table>
     </mat-grid-tile>
</mat-grid-list>