mat-grid-list#options {
     margin-top: 15px;
     max-width:500px;
}

#episodefilter {
  margin-left: 25px;
  margin-top: 5px;
  max-width: 200px;
}

#IMDBFilter {
  position: absolute;
     top: 18%;
     left: 68%;
}

mat-paginator.imdbPaginator {
  position: absolute; 
  left: 1050px;
  top: 175px;
}

/* Widen select dropdown in paginator because its too narrow with 4 digit values */
::ng-deep mat-paginator .mat-select-value {
  min-width: 30px !important;
  max-width: 100px !important;
}

.episodeTable {
  overflow: auto;
  /*max-width: 200px;*/
  max-width: 40%;
  margin-top: 25px;
}

mat-grid-list.filter {
  max-width: 250px;
}

.episodeTable th.mat-header-cell:nth-child(1), .episodeTable th.mat-header-cell:nth-child(2),.episodeTable th.mat-header-cell:nth-child(5)  {
    min-width: 70px;
    white-space: wrap;
    padding-left: 0px;
}

.episodeTable th.mat-header-cell:nth-child(1) {
    padding-left: 15px !important;
}

.cdk-column-ReleaseDate {
   min-width: 130px !important;
}

/* Name Column of episode table */
.cdk-column-Name {
    min-width:250px;
    word-wrap:break-word !important;
}

/* mat-form field in Name Column of episode table */
.cdk-column-Name mat-form-field {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Description of episode table */
.cdk-column-Description {
  word-wrap:break-word !important;
  max-width:500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Release Date of episode table */
.cdk-column-ReleaseDate {
    padding-left: 50px;
    min-width:370px;
    white-space: wrap !important;
}

.imdbTable {
     position: absolute;
     top: 36%;
     left: 68%;
}

/* 2nd Column of IMDB table */
.imdbTable tr td:first-child + td {
    white-space: wrap;
}

/* input field 2nd Column of IMDB table */
.imdbTable tr td:first-child + td mat-form-field {
    white-space: wrap !important;
}

/* input field in 3rd Column of IMDB table */
.imdbTable tr td:first-child + td + td mat-form-field {
    min-width: 300px;
    white-space: wrap;
}

.app-loading {
    /*position: absolute;
    left: 125px;
    top:-120px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    /*top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
    margin: auto;
  }
  .app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #ddd;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }

.mat-icon {
     transform: scale(1);
}

.mat-form-field {
  width: 100%;
}