/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {  
    th, td {
         min-width: 35px;
    }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  { 
    th, td {
         min-width: 35px;
    }
}

th, td {
   overflow: hidden;
   width: 80px;
   text-overflow: ellipsis;
   white-space: nowrap;
}

/* 2nd table column */
table tr td:first-child + td  {
    min-width: 180px;
}

/* 3rd table column */
table tr td:first-child + td + td  {
    min-width: 180px;
}

#chkFavorites {
    margin-left: 30px;
}

.update {
    margin-left: 50px;
}