#episodeFilter,#IMDBFilter {
     max-width: 200px;
}

#episodeFilter {
     margin-left: 4.5%;
}

#IMDBFilter {
     margin-left: 12%;
}

#episodeTable {
     left: 0.1px;   
     position: absolute;
     top: 5px;     
}

#episodeTable th.mat-header-cell:nth-child(1),
#episodeTable th.mat-header-cell:nth-child(2),
#episodeTable th.mat-header-cell:nth-child(5),
#episodeTable th.mat-header-cell:nth-child(6) {
    min-width: 70px;
    padding-left: 0px !important;  
    white-space: wrap;    
}

#episodeTable th.mat-header-cell:nth-child(1) {
    padding-left: 15px !important;
}

#episodeTableGrid {
     border: 1px dotted;
     height: 100%;
     overflow: auto;     
}

#imdbTable {
     left: 0.1px;
     position: absolute;
     top: 5px;     
}

#imdbTable th.mat-header-cell:nth-child(1),
#imdbTable th.mat-header-cell:nth-child(2)  {
     min-width: 70px;
     white-space: wrap;
}

#imdbTableGrid {
     border: 1px dotted; 
     height: 100% !important;
     margin-left: 50px;
     max-width: 711px;
     overflow: auto;     
}

#table-grid {
     height: 100%;
     z-index: 999;
}

.app-loading {
     align-items: center;
     display: flex;
     flex-direction: column;
     height: 100%;
     justify-content: center;
}

.app-loading .spinner {
     animation: rotate 2s linear infinite;
     height: 200px;
     margin: auto;
     position: absolute;
     transform-origin: center center;
     width: 200px;
}

.app-loading .spinner .path {
     animation: dash 1.5s ease-in-out infinite;   
     stroke: #ddd;
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;     
     stroke-linecap: round;
}

.cdk-column-ReleaseDate {
      min-width: 130px !important;
}

/* Name Column of episode table */
.cdk-column-Name {
     min-width:250px;
     word-wrap:break-word !important;
}

/* mat-form field in Name Column of episode table */
.cdk-column-Name mat-form-field {
     overflow: hidden;
     text-overflow: ellipsis;
}

/* Description of episode table */
.cdk-column-Description {
     max-width:500px;
     overflow: hidden;
     text-overflow: ellipsis;
     word-wrap:break-word !important;
}

/* Release Date of episode table */
.cdk-column-ReleaseDate {
     min-width:370px;
     padding-left: 50px;     
     white-space: wrap !important;
}

.mat-form-field {
     width: 100%;
}

mat-grid-list.filter {
     max-width: 250px;
}

/* Widen select dropdown in paginator because its too narrow with 4 digit values */
::ng-deep mat-paginator .mat-select-value {
     max-width: 100px !important;   
     min-width: 30px !important;     
}

@keyframes rotate {
     100% {
          transform: rotate(360deg);
     }
}

@keyframes dash {
     0% {
          stroke-dasharray: 1, 200;
          stroke-dashoffset: 0;
     }
     50% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -35px;
     }
     100% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -124px;
     }
}